h1{
    display: flex;
    justify-content: center;
}

div#InfosJoueurs{
    display: flex;
    justify-content: space-evenly;
}

div#cartes{
    display: flex;
    justify-content: space-evenly;
}

.carte1, .carte2{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li#carte1Description, li#carte2Description{
    border: solid;
    padding: 10px;
}

.info{
    border: solid aquamarine;
    padding-right: 20px;
}

img{
    width: 300px;
    height: 440px;
}

ul {
    list-style-type: none;
}